<div style="overflow: hidden;width:100%;">
    <ul style="padding:0">
        <li style="height:60px;list-style: none;border-bottom:1px solid #aaa;width:100%;line-height:60px;text-align: center;font-size:16px;font-weight:600;">
            <a ui-sref="app.processAnalysis">流程分析</a>
        </li>
        <li style="height:60px;list-style: none;border-bottom:1px solid #aaa;width:100%;line-height:60px;text-align: center;font-size:16px;font-weight:600;">
            <a ui-sref="app.dataBase">数据库分析</a>
        </li>
        <li style="height:60px;list-style: none;border-bottom:1px solid #aaa;width:100%;line-height:60px;text-align: center;font-size:16px;font-weight:600;">
            <a ui-sref="app.softwareAnalysis">软件分析</a>
        </li>
        <li style="height:60px;list-style: none;border-bottom:1px solid #aaa;width:100%;line-height:60px;text-align: center;font-size:16px;font-weight:600;">
            <a ui-sref="app.analysisResult">分析结果</a>
        </li>
    </ul>
</div>