<nav role="navigation" class="navbar topnavbar">
    <ul class="nav navbar-nav" style="width:100%;">
        <li style="width:25%;text-align: center" ui-sref="app.processAnalysis">
            <a>
                流程分析
            </a>
        </li>
        <li style="width:25%;text-align: center" ui-sref="app.dataBase">
            <a>
                数据库注释
            </a>
        </li>
        <li style="width:25%;text-align: center" ui-sref="app.softwareAnalysis">
            <a>
                软件分析
            </a>
        </li>
        <li style="width:25%;text-align: center" ui-sref="app.analysisResult">
            <a>
                分析结果
            </a>
        </li>
    </ul>
</nav>