<nav role="navigation" class="navbar topnavbar" id="topNavBar">
    <div class="col-lg-1 ta-r">
        <img class="top-nav-logo" src="pages/app/img/logo.png">
    </div>
    <div class="col-lg-2 nav-top-logo-text">
        <span>生物信息分析系统</span>
    </div>
    <div class="col-lg-9">
        <div class="pull-right top-nav-right">
            <span class="mr-30">
                <img class="top-nav-right-accountImg" src="pages/app/img/master.jpg" alt="用户头像">您好solomon！
            </span>
            <span class="mr-30">
                <a href="#">
                    <img class="top-nav-right-helpImg" src="pages/app/img/help.png" alt="帮助">帮助
                </a>
            </span>
            <span class="mr-30">
                <a ui-sref="login">退出</a>
            </span>
        </div>
    </div>
</nav>