.mt-20 {
    margin-top: 20px;
}

#login .login-content {
    height: 100%;
    width: 100%;
    padding: 10% 0;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#login .login-form {
    width: 30%;
    min-width:300px;
    margin: 0 auto;
    /*background: #656565;*/
    background: #fff;
    padding: 15px 25px 25px;
    border-radius: 3px;
}

#login .form-group label, #login .checkbox label {
    color: #333;
}
#login .form-group{
    margin:10px 0 0 0;
}