.mt-20 {
    margin-top: 20px;
}

#login .login-content {
    height: 100%;
    width: 100%;
    padding: 10% 0;
    background-image: url(../img/new/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#login .login-form {
    width: 30%;
    margin: 0 auto;
    background: #656565;
    padding: 55px 30px;
    border-radius: 3px;
}

#login .form-group label, #login .checkbox label {
    color: #fff;
}